body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #e7f6ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
p {
  margin: 0;
}

ul {
  list-style: none;
}

.noScroll {
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1080px;
  height: auto;
  background-color: #ffffff;

  border-radius: 20px 20px 0 0;

  padding-bottom: 40px;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1000px;
}

.header {
  border-bottom: 1px solid rgba(234, 234, 234, 1);
}

.header__content {
  height: 130px;
  display: flex;
  justify-content: space-between;

  .header__left {
    display: flex;
    align-items: center;

    .header__logo {
      margin-right: 15px;
    }

    .header__title {
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;

      color: #000000;
    }

    .header__description {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;

      color: #9d9d9d;
      opacity: 1;
    }
  }

  .header__right {
    display: flex;
    justify-content: space-between;
    width: 200px;

    .header__item {
      display: flex;
      align-items: center;
      cursor: pointer;

      span {
        margin-left: 10px;
      }
    }
  }
}

.contentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .contentTitle {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;

    color: #000000;
  }

  .searchBlock {
    display: flex;
    align-items: center;
    position: relative;

    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(243, 243, 243, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    img {
      padding: 15px;
      cursor: pointer;
    }

    .inputClear {
      position: absolute;
      width: 20px;
      height: 20px;
      border: none;
      background-color: transparent;
      right: 10px;

      &:hover > img {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
      img {
        width: 20px;
        height: 20px;
        padding: 0;
        position: relative;
        border-radius: 5px;
        top: -3px;
        right: 8px;
        cursor: pointer;
      }
    }

    input {
      height: 100%;
      width: 100%;
      font-size: 14px;
      line-height: 17px;

      color: #000000;

      border: none;
      outline: none;

      &::placeholder {
        color: #c4c4c4;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}

.cardBlock {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cartBg {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 10000;
}

.cartBlock {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  height: 100%;
  width: auto;
  max-width: 450px;
  background-color: white;
  z-index: 10000;

  padding: 30px;

  .cartHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 30px;
  }

  .cartContent {
    flex: 1;
    min-width: 350px;
    .cartItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 325px;
      height: 120px;
      border: 1px solid #f3f3f3;
      border-radius: 20px;
      padding: 0 20px;

      margin-bottom: 20px;

      .cartItemImg {
        height: 70px;
        width: 70px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .cartItemContent {
        width: 150px;

        .cartItemName {
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          margin-bottom: 10px;
        }

        .cartItemPrice {
          font-weight: bold;
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
  }

  .cartRemove {
    position: relative;
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;

    &:hover > img {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    img {
      position: relative;
      border-radius: 5px;
      top: -3px;
      right: 8px;
      cursor: pointer;
    }
  }

  .cartFooter {
    .cartSum {
      display: flex;
      margin-bottom: 20px;

      .cartFooterName {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;

        color: #000000;
      }

      .cartFooterDash {
        box-sizing: border-box;
        position: relative;
        flex: 1;
        border-bottom: 1px dashed #dfdfdf;
        top: -3px;
        margin: 0 10px;
      }

      .cartFooterPrice {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;

        color: #000000;
      }
    }
    .cartFooterBtn {
      position: relative;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      height: 60px;
      border-radius: 20px;
      border: none;
      background-color: #9dd458;
      color: #ffffff;
      cursor: pointer;
      transition: 0.2s ease-in-out;

      span {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
      }

      img {
        position: absolute;
        right: 50px;
        transition: 0.2s ease-in-out;
      }

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 13px 15px 4px rgba(34, 60, 80, 0.2);
        img {
          right: 30px;
        }
      }
    }
  }
}
